@import 'tailwindcss';

@theme {
  --font-*: initial;
  --font-sans: Nunito, sans-serif;

  --color-*: initial;
  --color-white: var(--primary-light);
  --color-black: var(--primary-dark);

  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --color-gray-400: var(--gray-400);
  --color-gray-500: var(--gray-500);
  --color-gray-600: var(--gray-600);
  --color-gray-700: var(--gray-700);
  --color-gray-800: var(--gray-800);
  --color-gray-900: var(--gray-900);

  --color-green-100: var(--green-100);
  --color-green-200: var(--green-200);
  --color-green-300: var(--green-300);
  --color-green-400: var(--green-400);
  --color-green-500: var(--green-500);
  --color-green-600: var(--green-600);
  --color-green-700: var(--green-700);
  --color-green-800: var(--green-800);
  --color-green-900: var(--green-900);

  --color-blue-100: var(--blue-100);
  --color-blue-200: var(--blue-200);
  --color-blue-300: var(--blue-300);
  --color-blue-400: var(--blue-400);
  --color-blue-500: var(--blue-500);
  --color-blue-600: var(--blue-600);
  --color-blue-700: var(--blue-700);
  --color-blue-800: var(--blue-800);
  --color-blue-900: var(--blue-900);

  --color-purple-100: var(--purple-100);
  --color-purple-200: var(--purple-200);
  --color-purple-300: var(--purple-300);
  --color-purple-400: var(--purple-400);
  --color-purple-500: var(--purple-500);
  --color-purple-600: var(--purple-600);
  --color-purple-700: var(--purple-700);
  --color-purple-800: var(--purple-800);
  --color-purple-900: var(--purple-900);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

* {
  overscroll-behavior-y: contain;
}

html {
  background-color: var(--primary-light);
}

body,
.theme-wrapper {
  transition: background-color 0.25s, color 0.25s;
  font-family: Nunito, sans-serif;
}

.font-family-text {
  font-family: Raleway, sans-serif;
}

.theme-light {
  color-scheme: light;
  --primary-light: white;
  --primary-light-50: rgba(255, 255, 255, 0.5);
  --primary-dark: black;
  --primary-dark-50: rgba(0, 0, 0, 0.5);

  --gray-100: #f7fafc;
  --gray-200: #edf2f7;
  --gray-300: #e2e8f0;
  --gray-400: #cbd5e0;
  --gray-500: #a0aec0;
  --gray-600: #718096;
  --gray-700: #4a5568;
  --gray-800: #2d3748;
  --gray-900: #1a202c;

  --blue-100: #ebf8ff;
  --blue-200: #bee3f8;
  --blue-300: #90cdf4;
  --blue-400: #63b3ed;
  --blue-500: #4299e1;
  --blue-600: #3182ce;
  --blue-700: #2b6cb0;
  --blue-800: #2c5282;
  --blue-900: #2a4365;

  --green-100: #f0fff4;
  --green-200: #c6f6d5;
  --green-300: #9ae6b4;
  --green-400: #68d391;
  --green-500: #48bb78;
  --green-600: #38a169;
  --green-700: #2f855a;
  --green-800: #276749;
  --green-900: #22543d;

  --purple-100: #faf5ff;
  --purple-200: #e9d8fd;
  --purple-300: #d6bcfa;
  --purple-400: #b794f4;
  --purple-500: #9f7aea;
  --purple-600: #805ad5;
  --purple-700: #6b46c1;
  --purple-800: #553c9a;
  --purple-900: #44337a;
}

.theme-dark {
  color-scheme: dark;
  --primary-dark: white;
  --primary-dark-50: rgba(255, 255, 255, 0.5);
  --primary-light: black;
  --primary-light-50: rgba(0, 0, 0, 0.5);

  --gray-900: #f7fafc;
  --gray-800: #edf2f7;
  --gray-700: #e2e8f0;
  --gray-600: #cbd5e0;
  --gray-500: #a0aec0;
  --gray-400: #718096;
  --gray-300: #4a5568;
  --gray-200: #2d3748;
  --gray-100: #1a202c;

  --blue-900: #ebf8ff;
  --blue-800: #bee3f8;
  --blue-700: #90cdf4;
  --blue-600: #63b3ed;
  --blue-500: #4299e1;
  --blue-400: #3182ce;
  --blue-300: #2b6cb0;
  --blue-200: #2c5282;
  --blue-100: #2a4365;

  --green-900: #f0fff4;
  --green-800: #c6f6d5;
  --green-700: #9ae6b4;
  --green-600: #68d391;
  --green-500: #48bb78;
  --green-400: #38a169;
  --green-300: #2f855a;
  --green-200: #276749;
  --green-100: #22543d;

  --purple-900: #faf5ff;
  --purple-800: #e9d8fd;
  --purple-700: #d6bcfa;
  --purple-600: #b794f4;
  --purple-500: #9f7aea;
  --purple-400: #805ad5;
  --purple-300: #6b46c1;
  --purple-200: #553c9a;
  --purple-100: #44337a;
}

img {
  width: 100%;
}

button:focus {
  outline: 0;
}

.toggle__dot {
  top: -0.25rem;
  left: -0.25rem;
  transition: all 0.3s ease-in-out;
}

input:not(:checked) ~ .toggle__dot {
  transform: translateX(100%);
}

@keyframes twist-up {
  to {
    transform: rotateX(360deg);
  }
}
