ul {
  padding: 0;
}

img {
  width: 100%
}

.spin {
  display: inline-block;
  animation: spin 2s infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes twist-up {
  to {
    transform: rotateX(360deg);
  }
}